{% extends "base.html" %}
{% block content %}
<h1>Giriş Yap</h1>
<form method="POST" action="{{ url_for('login') }}">
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Şifre</label>
    <input type="password" name="password" required>
    <button type="submit">Giriş Yap</button>
</form>
<a href="{{ url_for('login_google') }}" class="btn btn-primary mt-3">Google'la Giriş Yap</a>
<p>Hesabın yok mu ? <a href="{{ url_for('register') }}">Kayıt Ol</a>.</p>
{% endblock %}